.header {
	position: fixed;
	top: 0;
	inset-inline: 0;
	padding: var(--space-m) var(--space-m);
	background-color: var(--c-navy);
	z-index: 100;
	
	&.transparent {
		background-color: transparent;
	}
	
	&--container {
		display: flex;
		align-items: baseline;
		gap: 2em;
		justify-content: space-between;
		border-radius: var(--space-xl);
		padding: var(--space-s);
		transition: background-color 0.3s ease;

		.transparent & {
			background-color: transparent;
		}

		.transparent.scroll-active & {
			background-color: var(--c-navy);
		}
	}
	
	&--logo {
		align-self: center;
		width: 184px;
		height: 32px;
	}
	
	&--nav {
		flex: 1;
    	justify-content: flex-end;
		display: flex;
		align-items: baseline;
		gap: 2em;
	}
	
	&--menu {
		display: flex;
		align-items: baseline;
		gap: 30px;
		list-style: none;
	}
	
	&--link {
		text-decoration: none;
		color: var(--c-white);
		font-size: var(--fs-0);
		font-weight: 500;
		transition: color 0.2s;

		&:hover { 
			
		}
	}
	
	&--button {
		display: inline-flex;
		align-items: center;
		line-height: 1;
	}
}