$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1440px;

$c-black: #000;
$c-lime-green: #9ebe53;
$c-light-grey: #f9f9f9;
$c-navy: #1b1947;
$c-paradise-pink: #de5068;
$c-white: #fff;
$c-yellow: #ebe772;
$c-shadow: #282a2480;