.footer {
	padding: var(--space-xl) var(--space-m);
	display: flex;
	justify-content: center;

	&--nav {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--space-m);
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			text-decoration: none;
			font-size: var(--fs--1);
			opacity: 1;
			transition: opacity 0.3s ease;

			&:hover {
				opacity: .65;
			}
		}
	}
}